{% extends "admin/base.html" %}
{% load i18n %}
{% block title %}{% trans 'GFSA' %}{% endblock %}
{% block branding %}
<style type="text/css">

</style>
<h1 id="site-name" style="margin-top: 0px;"><a href="/admin" style="color:#fff;font-size:20px;">{% trans 'GFSA Administration' %}</a></h1>
{% endblock %}
{% block extrahead %}

 <meta name=”viewport” content=”width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1″ />
 {% endblock %}
{% block nav-global %}{% endblock %}